<div class="flex gap-5 text-center">
  <div class="flex flex-col">
    <c-lb.countdown value="15" class="text-4xl" />
    <span class="text-xs text-base-content/60">days</span>
  </div>
  <div class="flex flex-col">
    <c-lb.countdown value="10" class="text-4xl" />
    <span class="text-xs text-base-content/60">hours</span>
  </div>
  <div class="flex flex-col">
    <c-lb.countdown value="24" class="text-4xl" />
    <span class="text-xs text-base-content/60">min</span>
  </div>
  <div class="flex flex-col">
    <c-lb.countdown value="59" class="text-4xl" />
    <span class="text-xs text-base-content/60">sec</span>
  </div>
</div>
