
{% load lbr_tags %}
<c-vars
    drawerId="drawer"
    sideClass=""
    overlayClass=""
/>
{% lbr_props "drawer" attrs=attrs as rx %}

<div
    class="{{ rx.classes }}"
    {{ rx.attrs }}
>
    {% if not checkbox %}
        <c-lb.drawer.checkbox :id=drawerId />
    {% else %}
        {{ checkbox }}
    {% endif %}


    {% if sideContent %}
        <c-lb.drawer.side :class=sideClass>
            <c-lb.drawer.overlay :for=drawerId :class=overlayClass />
            {{ sideContent }}
        </c-lb.drawer.side>
    {% elif side %}
        {{ side }}
    {% endif %}

    {% if not content %}
        <c-lb.drawer.content>
            {{ slot }}
        </c-lb.drawer.content>
    {% else %}
        {{ content }}
    {% endif %}

</div>
