<div class="flex flex-wrap gap-x-4 gap-y-12 p-8">
  <c-lb.tooltip tip="Neutral" variant="neutral" open>
    <c-lb.button>Neutral</c-lb.button>
  </c-lb.tooltip>
  <c-lb.tooltip tip="Primary" variant="primary" open>
    <c-lb.button variant="primary">Primary</c-lb.button>
  </c-lb.tooltip>
  <c-lb.tooltip tip="Secondary" variant="secondary" open>
    <c-lb.button variant="secondary">Secondary</c-lb.button>
  </c-lb.tooltip>
  <c-lb.tooltip tip="Accent" variant="accent" open>
    <c-lb.button variant="accent">Accent</c-lb.button>
  </c-lb.tooltip>
  <c-lb.tooltip tip="Info" variant="info" open>
    <c-lb.button variant="info">Info</c-lb.button>
  </c-lb.tooltip>
  <c-lb.tooltip tip="Success" variant="success" open>
    <c-lb.button variant="success">Success</c-lb.button>
  </c-lb.tooltip>
  <c-lb.tooltip tip="Warning" variant="warning" open>
    <c-lb.button variant="warning">Warning</c-lb.button>
  </c-lb.tooltip>
  <c-lb.tooltip tip="Error" variant="error" open>
    <c-lb.button variant="error">Error</c-lb.button>
  </c-lb.tooltip>
</div>
