<c-lb.card class="max-w-60 shadow bg-base-200" size="sm">
    <c-lb.card.figure>
        <c-lb.hover-gallery>
            <img src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp" />
            <img src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp" />
            <img src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp" />
            <img src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp" />
        </c-lb.hover-gallery>
    </c-lb.card.figure>
    <c-lb.card.body>
        <c-lb.card.title>Product Name</c-lb.card.title>
        <p>Hover over the image to see more photos</p>
    </c-lb.card.body>
</c-lb.card>
