<div class="flex flex-col items-start gap-4">
  <c-lb.pagination>
    <c-lb.pagination.item size="xs">1</c-lb.pagination.item>
    <c-lb.pagination.item size="xs" active>2</c-lb.pagination.item>
    <c-lb.pagination.item size="xs">3</c-lb.pagination.item>
  </c-lb.pagination>
  <c-lb.pagination>
    <c-lb.pagination.item size="sm">1</c-lb.pagination.item>
    <c-lb.pagination.item size="sm" active>2</c-lb.pagination.item>
    <c-lb.pagination.item size="sm">3</c-lb.pagination.item>
  </c-lb.pagination>
  <c-lb.pagination>
    <c-lb.pagination.item size="md">1</c-lb.pagination.item>
    <c-lb.pagination.item size="md" active>2</c-lb.pagination.item>
    <c-lb.pagination.item size="md">3</c-lb.pagination.item>
  </c-lb.pagination>
  <c-lb.pagination>
    <c-lb.pagination.item size="lg">1</c-lb.pagination.item>
    <c-lb.pagination.item size="lg" active>2</c-lb.pagination.item>
    <c-lb.pagination.item size="lg">3</c-lb.pagination.item>
  </c-lb.pagination>
</div>
