{% load lb_tags lbr_tags %}
<c-vars
    name=""
    checked
    disabled
    title=""
/>
{% parse_icon attrs as i %}
{% lbr_props "tabs.content" attrs=attrs checked=checked disabled=disabled as rx %}

{% if not input %}
    <label class="tab">
        <input
            type="radio"
            name="{{ name }}"
            {% if checked %}checked="checked"{% endif %}
            {% if disabled %}disabled{% endif %}
        />
        {% if i.name %}
            <c-component is="lbi" n="{{ i.name }}" w="1em" h="1em" :fill=i.fill class="me-2 size-4 {{ i.css_class }}" />
        {% endif %}
        {% if title %}{{ title }}{% endif %}
    </label>
{% else %}
    {{ input }}
{% endif %}

<div class="{{ rx.classes }}" {{ rx.attrs }}>
    {{ slot }}
</div>
