<c-lb.hero class="bg-base-200 min-h-64">
  <c-lb.hero.content class="flex-col lg:flex-row-reverse">
    <img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">New Arrival!</h1>
      <p class="py-6">Step into style with our latest collection of premium sneakers. Designed for comfort, built for performance.</p>
      <c-lb.button variant="primary">Shop Now</c-lb.button>
    </div>
  </c-lb.hero.content>
</c-lb.hero>
