{% load lb_tags lbr_tags %}
<c-vars
    shape="badge"
    variant=""
    :badgeVariantClasses="{
        'neutral': 'badge-neutral',
        'primary': 'badge-primary',
        'secondary': 'badge-secondary',
        'accent': 'badge-accent',
        'info': 'badge-info',
        'success': 'badge-success',
        'warning': 'badge-warning',
        'error': 'badge-error'
    }"
    :statusVariantClasses="{
        'neutral': 'status-neutral',
        'primary': 'status-primary',
        'secondary': 'status-secondary',
        'accent': 'status-accent',
        'info': 'status-info',
        'success': 'status-success',
        'warning': 'status-warning',
        'error': 'status-error'
    }"
    size=""
    :badgeSizeClasses="{
        'xs': 'badge-xs',
        'sm': 'badge-sm',
        'md': 'badge-md',
        'lg': 'badge-lg',
        'xl': 'badge-xl'
    }"
    :statusSizeClasses="{
        'xs': 'status-xs',
        'sm': 'status-sm',
        'md': 'status-md',
        'lg': 'status-lg',
        'xl': 'status-xl'
    }"
/>
{% parse_icon attrs as i %}
{% lbr_props "indicator.item" attrs=attrs as rx %}

<span class="{{ rx.classes }}
        {% if shape == 'badge' %}
            badge
            {{ badgeVariantClasses|get_dict_item:variant }}
            {{ badgeSizeClasses|get_dict_item:size }}
        {% elif shape == 'status' %}
            status
            {{ statusVariantClasses|get_dict_item:variant }}
            {{ statusSizeClasses|get_dict_item:size }}
        {% endif %}"
    {{ rx.attrs }}
>
    {% if i.name %}
        <c-component is="lbi" n="{{ i.name }}" w="1em" h="1em" :fill=i.fill class="{{ i.css_class }}" />
    {% endif %}
    {{ slot }}
</span>
