{% load lb_tags lbr_tags %}
<c-vars
    src=""
    alt="Avatar"
    size="md"
    :sizeClasses="{
        'sm': 'w-8',
        'md': 'w-10',
        'lg': 'w-12'
    }"
/>
{% lbr_props "chat.image" attrs=attrs size="" as rx %}

<div
    class="{{ rx.classes }}"
    {{ rx.attrs }}
>
    <div class="{{ sizeClasses|get_dict_item:size }} rounded-full">
        {% if src %}
            <img src="{{ src }}" alt="{{ alt }}" />
        {% else %}
            {{ slot }}
        {% endif %}
    </div>
</div>
