<c-lb.stat.group class="shadow">
    <c-lb.stat>
        <c-lb.stat.title>Downloads</c-lb.stat.title>
        <c-lb.stat.value>31K</c-lb.stat.value>
        <c-lb.stat.desc>Jan 1st - Feb 1st</c-lb.stat.desc>
    </c-lb.stat>
    <c-lb.stat>
        <c-lb.stat.title>New Users</c-lb.stat.title>
        <c-lb.stat.value>4,200</c-lb.stat.value>
        <c-lb.stat.desc variant="success">↑ 400 (22%)</c-lb.stat.desc>
    </c-lb.stat>
    <c-lb.stat>
        <c-lb.stat.title>New Registers</c-lb.stat.title>
        <c-lb.stat.value>1,200</c-lb.stat.value>
        <c-lb.stat.desc variant="error">↓ 90 (14%)</c-lb.stat.desc>
    </c-lb.stat>
</c-lb.stat.group>
