{% load lb_tags lbr_tags %}
<c-vars
    class=""
    variant=""
    size="lg"
    flower
    label=""
/>
{% parse_icon attrs as i %}
{% lbr_props "button" attrs=attrs variant=variant size=size as btn %}

<div class="fab {% if flower %}fab-flower{% endif %} {{ class }}" {{ attrs|strip_icon_attrs }}>
    <!-- Main focusable button (using div for Safari compatibility) -->
    {% if i.name or label %}
        <div
            tabindex="0"
            role="button"
            class="btn-circle {{ btn.classes }}"
        >
            {% if i.name %}
                <c-component is="lbi" n="{{ i.name }}" w="1em" h="1em" :fill=i.fill class="{{ i.css_class }}" />
            {% elif label %}
                {{ label }}
            {% endif %}
        </div>
    {% endif %}

    <!-- Speed dial action buttons (main slot) -->
    {{ slot }}
</div>
