<div class="flex flex-col gap-1">
    <div class="flex gap-1">
        <c-lb.kbd size="sm" variant="error">Esc</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">F1</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">F2</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">F3</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">F4</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">F5</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">F6</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">F7</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">F8</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">F9</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">F10</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">F11</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">F12</c-lb.kbd>
    </div>
    <div class="flex gap-1">
        <c-lb.kbd size="sm" variant="error">`</c-lb.kbd>
        <c-lb.kbd size="sm" variant="error">1</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">2</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">3</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">4</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">5</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">6</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">7</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">8</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">9</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">0</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">-</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">=</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent" class="px-4">⌫</c-lb.kbd>
    </div>
    <div class="flex gap-1">
        <c-lb.kbd size="sm" variant="error" class="px-3">Tab</c-lb.kbd>
        <c-lb.kbd size="sm" variant="error">Q</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">W</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">E</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">R</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">T</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">Y</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">U</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">I</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">O</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">P</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">[</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">]</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">\</c-lb.kbd>
    </div>
    <div class="flex gap-1">
        <c-lb.kbd size="sm" variant="error" class="px-4">Caps</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">A</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">S</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">D</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">F</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">G</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">H</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">J</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">K</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">L</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">;</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">'</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent" class="px-4">Enter</c-lb.kbd>
    </div>
    <div class="flex gap-1">
        <c-lb.kbd size="sm" variant="error" class="px-5">Shift</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">Z</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">X</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">C</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">V</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info">B</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">N</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">M</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">,</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">.</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">/</c-lb.kbd>
        <c-lb.kbd size="sm" variant="error" class="px-5">Shift</c-lb.kbd>
    </div>
    <div class="flex gap-1">
        <c-lb.kbd size="sm" variant="error">Ctrl</c-lb.kbd>
        <c-lb.kbd size="sm" variant="warning">⌘</c-lb.kbd>
        <c-lb.kbd size="sm" variant="success">Alt</c-lb.kbd>
        <c-lb.kbd size="sm" variant="info" class="px-16">Space</c-lb.kbd>
        <c-lb.kbd size="sm" variant="primary">Alt</c-lb.kbd>
        <c-lb.kbd size="sm" variant="secondary">⌘</c-lb.kbd>
        <c-lb.kbd size="sm" variant="accent">Fn</c-lb.kbd>
        <c-lb.kbd size="sm" variant="error">Ctrl</c-lb.kbd>
    </div>
</div>
