<div class="space-y-2 w-full max-w-md">
  <c-lb.chat placement="start">
    <c-lb.chat.bubble variant="primary">Primary bubble</c-lb.chat.bubble>
  </c-lb.chat>

  <c-lb.chat placement="end">
    <c-lb.chat.bubble variant="secondary">Secondary bubble</c-lb.chat.bubble>
  </c-lb.chat>

  <c-lb.chat placement="start">
    <c-lb.chat.bubble variant="accent">Accent bubble</c-lb.chat.bubble>
  </c-lb.chat>

  <c-lb.chat placement="end">
    <c-lb.chat.bubble variant="neutral">Neutral bubble</c-lb.chat.bubble>
  </c-lb.chat>

  <c-lb.chat placement="start">
    <c-lb.chat.bubble variant="info">Info bubble</c-lb.chat.bubble>
  </c-lb.chat>

  <c-lb.chat placement="end">
    <c-lb.chat.bubble variant="success">Success bubble</c-lb.chat.bubble>
  </c-lb.chat>

  <c-lb.chat placement="start">
    <c-lb.chat.bubble variant="warning">Warning bubble</c-lb.chat.bubble>
  </c-lb.chat>

  <c-lb.chat placement="end">
    <c-lb.chat.bubble variant="error">Error bubble</c-lb.chat.bubble>
  </c-lb.chat>
</div>
