{% load lbr_tags lb_tags %}
{% lb_push_stack name="components" path="labb/js/vendor/datastar.js" mode="module" %}
<c-vars
    to=""
    pk=""
    kwargs=""
    on="click"
    tag="span"
    before=""
    confirm=""
    options=""
    :noCSRF="False"
/>

{% lbr_resolve_url to kwargs pk as lbr_href %}
{% if noCSRF %}
{% lbr_delete_action lbr_href before confirm options csrf=False as lbr_action %}
{% else %}
{% lbr_delete_action lbr_href before confirm options as lbr_action %}
{% endif %}

<{{ tag }}
    {% if on == "init" %}
        data-init="{{ lbr_action }}"
    {% else %}
        data-on:{{ on }}="{{ lbr_action }}"
    {% endif %}
    {{ attrs }}
>{{ slot }}</{{ tag }}>
