<div class="flex flex-wrap gap-8">
  <c-lb.indicator>
    <c-lb.indicator.item horizontal="start" vertical="top" variant="primary">top-start</c-lb.indicator.item>
    <div class="bg-base-300 grid h-32 w-32 place-items-center">content</div>
  </c-lb.indicator>

  <c-lb.indicator>
    <c-lb.indicator.item horizontal="center" vertical="middle" variant="accent">center</c-lb.indicator.item>
    <div class="bg-base-300 grid h-32 w-32 place-items-center">content</div>
  </c-lb.indicator>

  <c-lb.indicator>
    <c-lb.indicator.item horizontal="end" vertical="bottom" variant="secondary">bottom-end</c-lb.indicator.item>
    <div class="bg-base-300 grid h-32 w-32 place-items-center">content</div>
  </c-lb.indicator>
</div>
