<div class="flex flex-wrap gap-8">
  <c-lb.indicator>
    <c-lb.indicator.item shape="badge" variant="primary">New</c-lb.indicator.item>
    <c-lb.button>Badge</c-lb.button>
  </c-lb.indicator>
  <c-lb.indicator>
    <c-lb.indicator.item shape="status" variant="error" size="sm"></c-lb.indicator.item>
    <c-lb.button>Status</c-lb.button>
  </c-lb.indicator>
  <c-lb.indicator>
    <c-lb.indicator.item shape="none" class="text-error text-xl">●</c-lb.indicator.item>
    <c-lb.button>None</c-lb.button>
  </c-lb.indicator>
</div>
