<div class="flex flex-wrap gap-8">
  <c-lb.indicator>
    <c-lb.indicator.item variant="secondary" size="sm">sm</c-lb.indicator.item>
    <c-lb.button>Small</c-lb.button>
  </c-lb.indicator>
  <c-lb.indicator>
    <c-lb.indicator.item variant="secondary" size="md">md</c-lb.indicator.item>
    <c-lb.button>Medium</c-lb.button>
  </c-lb.indicator>
  <c-lb.indicator>
    <c-lb.indicator.item variant="secondary" size="lg">lg</c-lb.indicator.item>
    <c-lb.button>Large</c-lb.button>
  </c-lb.indicator>
</div>
