<div class="flex flex-col gap-2">
  <c-lb.select class="w-56" variant="primary"><option>Primary</option></c-lb.select>
  <c-lb.select class="w-56" variant="secondary"><option>Secondary</option></c-lb.select>
  <c-lb.select class="w-56" variant="accent"><option>Accent</option></c-lb.select>
  <c-lb.select class="w-56" variant="success"><option>Success</option></c-lb.select>
  <c-lb.select class="w-56" variant="warning"><option>Warning</option></c-lb.select>
  <c-lb.select class="w-56" variant="error"><option>Error</option></c-lb.select>
</div>
