<div class="flex flex-wrap items-center gap-6 p-6">
  <c-lb.aura variant="dual" size="xs"><c-lb.button size="sm">xs</c-lb.button></c-lb.aura>
  <c-lb.aura variant="dual" size="sm"><c-lb.button size="sm">sm</c-lb.button></c-lb.aura>
  <c-lb.aura variant="dual" size="md"><c-lb.button size="sm">md</c-lb.button></c-lb.aura>
  <c-lb.aura variant="dual" size="lg"><c-lb.button size="sm">lg</c-lb.button></c-lb.aura>
  <c-lb.aura variant="dual" size="xl"><c-lb.button size="sm">xl</c-lb.button></c-lb.aura>
</div>
