<div class="flex flex-wrap gap-6 p-6">
  <c-lb.aura><c-lb.button>Default</c-lb.button></c-lb.aura>
  <c-lb.aura variant="dual"><c-lb.button>Dual</c-lb.button></c-lb.aura>
  <c-lb.aura variant="rainbow"><c-lb.button>Rainbow</c-lb.button></c-lb.aura>
  <c-lb.aura variant="holo"><c-lb.button>Holo</c-lb.button></c-lb.aura>
  <c-lb.aura variant="gold"><c-lb.button>Gold</c-lb.button></c-lb.aura>
  <c-lb.aura variant="silver"><c-lb.button>Silver</c-lb.button></c-lb.aura>
  <c-lb.aura variant="glow"><c-lb.button>Glow</c-lb.button></c-lb.aura>
</div>
