{% load lb_tags lbr_tags %}
<c-vars
    as="span"
/>
{% parse_icon attrs as i %}
{% lbr_props "text" attrs=attrs as rx %}

<{{ as }}
    class="{% if i.name %}flex items-center gap-2{% endif %} {{ rx.classes }}"
    {{ rx.attrs }}
>
    {% if i.name and not i.end %}
        <c-component is="lbi" n="{{ i.name }}" w="1em" h="1em" :fill=i.fill class="{{ i.css_class }}" />
    {% endif %}
    {{ slot }}
    {% if i.name and i.end %}
        <c-component is="lbi" n="{{ i.name }}" w="1em" h="1em" :fill=i.fill class="{{ i.css_class }}" />
    {% endif %}
</{{ as }}>
