{% load lb_tags lbr_tags %}
<c-vars
    as="a"
    href=""
    viewname=""
/>
{% lbr_props "link" attrs=attrs as rx %}

{% if viewname %}
    {% resolve_labb_link viewname attrs as resolved_url %}
    <{{ as }}
        {% if resolved_url %}href="{{ resolved_url }}"{% endif %}
        class="{{ rx.classes }}"
        {{ rx.attrs|remove_l_attrs }}
    >
        {{ slot }}
    </{{ as }}>
{% else %}
    <{{ as }}
        class="{{ rx.classes }}"
        {% if href %}href="{{ href }}"{% endif %}
        {{ rx.attrs|remove_l_attrs }}
    >
        {{ slot }}
    </{{ as }}>
{% endif %}
