{% load lb_tags %}
<c-vars
    class=""
    href=""
    viewname=""
    icon=""
    iconFill
    iconClass=""
/>

<li class="{{ class }}">
    {% if viewname %}
        {% resolve_labb_link viewname attrs as resolved_url %}
        <a {% if resolved_url %}href="{{ resolved_url }}"{% endif %} {{ attrs|remove_l_attrs }}>
            {% if icon %}
                <c-component is="lbi" n="{{ icon }}" w="1em" h="1em" :fill=iconFill :class=iconClass />
            {% endif %}
            {{ slot }}
        </a>
    {% elif href %}
        <a href="{{ href }}" {{ attrs }}>
            {% if icon %}
                <c-component is="lbi" n="{{ icon }}" w="1em" h="1em" :fill=iconFill :class=iconClass />
            {% endif %}
            {{ slot }}
        </a>
    {% else %}
        <span>
            {% if icon %}
                <c-component is="lbi" n="{{ icon }}" w="1em" h="1em" :fill=iconFill :class=iconClass />
            {% endif %}
            {{ slot }}
        </span>
    {% endif %}
</li>
