<c-lb.steps>
  <c-lb.steps.item variant="neutral">Neutral</c-lb.steps.item>
  <c-lb.steps.item variant="primary">Primary</c-lb.steps.item>
  <c-lb.steps.item variant="secondary">Secondary</c-lb.steps.item>
  <c-lb.steps.item variant="accent">Accent</c-lb.steps.item>
  <c-lb.steps.item variant="info">Info</c-lb.steps.item>
  <c-lb.steps.item variant="success">Success</c-lb.steps.item>
  <c-lb.steps.item variant="warning">Warning</c-lb.steps.item>
  <c-lb.steps.item variant="error">Error</c-lb.steps.item>
</c-lb.steps>
