<c-lb.carousel snap="end" class="rounded-box w-full">
    <c-lb.carousel.item class="w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1625726411847-8cbb60cc71e6.webp" class="w-full" alt="Slide 1" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1609621838510-5ad474b7d25d.webp" class="w-full" alt="Slide 2" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1414694762283-acccc27bca85.webp" class="w-full" alt="Slide 3" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="w-full">
        <img src="https://img.daisyui.com/images/stock/photo-1665553365602-b2fb8e5d1707.webp" class="w-full" alt="Slide 4" />
    </c-lb.carousel.item>
</c-lb.carousel>
