<c-lb.carousel snap="center" class="rounded-box w-full">
    <c-lb.carousel.item class="">
        <img src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp" class="" alt="Slide 1" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="">
        <img src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp" class="" alt="Slide 2" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="">
        <img src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp" class="" alt="Slide 3" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="">
        <img src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp" class="" alt="Slide 4" />
    </c-lb.carousel.item>
</c-lb.carousel>
