<c-lb.carousel direction="vertical" class="rounded-box h-96">
    <c-lb.carousel.item class="h-full">
        <img src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="h-full">
        <img src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="h-full">
        <img src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp" />
    </c-lb.carousel.item>
    <c-lb.carousel.item class="h-full">
        <img src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp" />
    </c-lb.carousel.item>
</c-lb.carousel>
