{% load lbr_tags %}
<c-vars
    checked
    disabled
    inputClass=""
    name=""
    value=""
/>
{% lbr_props "swap" attrs=attrs as rx %}

<label class="{{ rx.classes }}" {{ rx.attrs }}>
    <!-- Hidden checkbox that controls the swap state -->
    <input
        type="checkbox"
        class="{{ inputClass }}"
        {% if name %}name="{{ name }}"{% endif %}
        {% if value %}value="{{ value }}"{% endif %}
        {% if checked %}checked{% endif %}
        {% if disabled %}disabled{% endif %}
    />

    <!-- Swap content -->
    {{ slot }}
</label>
