<div class="flex flex-wrap gap-8">
  <c-lb.stack direction="top" class="h-28 w-28">
    <c-lb.card variant="primary" border class="text-center"><c-lb.card.body>A</c-lb.card.body></c-lb.card>
    <c-lb.card variant="accent" border class="text-center"><c-lb.card.body>B</c-lb.card.body></c-lb.card>
    <c-lb.card variant="secondary" border class="text-center"><c-lb.card.body>C</c-lb.card.body></c-lb.card>
  </c-lb.stack>

  <c-lb.stack direction="bottom" class="h-28 w-28">
    <c-lb.card variant="primary" border class="text-center"><c-lb.card.body>A</c-lb.card.body></c-lb.card>
    <c-lb.card variant="accent" border class="text-center"><c-lb.card.body>B</c-lb.card.body></c-lb.card>
    <c-lb.card variant="secondary" border class="text-center"><c-lb.card.body>C</c-lb.card.body></c-lb.card>
  </c-lb.stack>
</div>
