<div class="flex flex-col gap-4">
  <c-lb.breadcrumbs size="xs">
    <c-lb.breadcrumbs.item href="/">Home</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item href="/docs">Documents</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item>Current</c-lb.breadcrumbs.item>
  </c-lb.breadcrumbs>

  <c-lb.breadcrumbs size="sm">
    <c-lb.breadcrumbs.item href="/">Home</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item href="/docs">Documents</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item>Current</c-lb.breadcrumbs.item>
  </c-lb.breadcrumbs>

  <c-lb.breadcrumbs size="md">
    <c-lb.breadcrumbs.item href="/">Home</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item href="/docs">Documents</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item>Current</c-lb.breadcrumbs.item>
  </c-lb.breadcrumbs>

  <c-lb.breadcrumbs size="lg">
    <c-lb.breadcrumbs.item href="/">Home</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item href="/docs">Documents</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item>Current</c-lb.breadcrumbs.item>
  </c-lb.breadcrumbs>

  <c-lb.breadcrumbs size="xl">
    <c-lb.breadcrumbs.item href="/">Home</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item href="/docs">Documents</c-lb.breadcrumbs.item>
    <c-lb.breadcrumbs.item>Current</c-lb.breadcrumbs.item>
  </c-lb.breadcrumbs>
</div>
